.DateInput {
  display: inline-block;
  position: relative;
}

.DateInput-button {
  cursor: default;
  font-size: 0.75em;
  opacity: 0.8;
  position: absolute;
  right: 0.25em;
}

.DateInput-button:active {
  opacity: 1;
}

.DateInput .InputPopupWrapper-popup {
  width: auto;
}

.DatePopup-header {
  padding: 0.5em;
}

.DatePopup-previousButton {
  float: left;
}

.DatePopup-nextButton {
  float: right;
}

.DatePopup-heading {
  text-align: center;
  margin: 0.35em 0;
  font-weight: bold;
}

.DatePopup-day {
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
}

.DatePopup-day:hover,
.DatePopup-day--isValue {
  background: hsl(200, 50%, 50%);
}

.DatePopup-day--isToday {
  background: hsl(200, 50%, 80%);
}

.DatePopup-day--isOtherMonth {
  color: #999;
}