.DateInput {
  display: inline-block;
  position: relative;
}

.DateInputButton {
  cursor: default;
  font-size: 0.75em;
  opacity: 0.8;
  position: absolute;
  right: 0.25em;
}

.DateInputButton:active {
  opacity: 1;
}

.DateInput .InputPopupWrapper-popup {
  width: auto;
}

.DatePopupHeader {
  padding: 0.5em;
}

.DatePopupHeader-previousButton {
  float: left;
}

.DatePopupHeader-nextButton {
  float: right;
}

.DatePopupHeader-heading {
  text-align: center;
  margin: 0.35em 0;
  font-weight: bold;
}

.DatePopupGrid {
  outline: 0;
}

.DatePopupGridBody-day {
  cursor: pointer;
  padding: 0.5em;
  text-align: center;
  vertical-align: middle;
}

.DatePopupGridBody-day:hover,
.DatePopupGridBody-day--isValue {
  background: hsl(200, 50%, 50%);
}

.DatePopupGridBody-day--isToday {
  background: hsl(200, 50%, 80%);
}

.DatePopupGridBody-day--isOtherMonth {
  color: #999;
}